html{
    scroll-behavior: smooth;
    scroll-padding: 15vh;
}

/* #region first */



.first{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.firstCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    position: relative;
}

.firstCont h1{
    position: absolute;
    font-size: 35vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    padding-right: 3%;

    text-shadow: 0px 0px 40px rgba(255, 208, 54, 0.8);
    filter: brightness(1) contrast(1.2);

    z-index: 10;
}

.first .firstBg{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.first .firstBg .screen{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 1) 100%);

    z-index: 5;
}

.first .firstBg .bgImg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("./kuvat/h-co-M3KfixgdCko-unsplash.jpg");
    background-size: cover;
    background-position: center;

    z-index: 2;
}

.firstImg{
    position: absolute;
    height: 200vh;
    width: fit-content;
    transform: translate(-50%, -60vh);
    top: 0;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

.firstImg img{
    width: 100%;
    z-index: 10;


    filter: drop-shadow(0px 0px 100px rgba(234, 208, 122, 0.7));

    animation: moveImg forwards ease-in-out;
    animation-timeline: view();
}

@keyframes moveImg{
    0%{
        width: 80%;
        transform: translate(0%, 0);
        filter: drop-shadow(0px 0px 0px rgba(234, 208, 122, 0.7));
    }
    80%{
        width: 60%;
        transform: translate(0%, 120vh);
        filter: drop-shadow(0px 0px 80px rgba(234, 208, 122, 1));
    }
    100%{
        width: 60%;
        transform: translate(0%, 120vh);
        filter: drop-shadow(0px 0px 200px rgba(234, 208, 122, 1));
    }
}

.firstCont .text{
    z-index: 20;
    padding: 0 0 50px 50px;
    max-width: 30%;
    
    gap: 20px;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1200px) {
    .firstCont{
        align-items: center;
    }
    .firstCont .text{
        max-width: 60vw;
        padding-left: 0;
    }
}

@media screen and (max-width: 800px) {
    @keyframes moveImg{
        0%{
            width: 70vw;
            transform: translate(0%, 0);
            filter: drop-shadow(0px 0px 0px rgba(234, 208, 122, 0.7));
        }
        80%{
            width: 60%;
            transform: translate(0%, 120vh);
            filter: drop-shadow(0px 0px 80px rgba(234, 208, 122, 1));
        }
        100%{
            width: 60%;
            transform: translate(0%, 120vh);
            filter: drop-shadow(0px 0px 200px rgba(234, 208, 122, 1));
        }
    }

    .firstCont h1{
        font-size: 45vw;
    }

    .firstCont .text{
        max-width: 90%;
    }
}


/* #endregion */

/* #region second */

.second{
    width: 100%;
    height: 140vh;
    /* padding-top: 20%; */

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.secondBg{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondBg .screen{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 1) 100%);

    z-index: 5;
}

.secondBg .bgImg{
    height: 100%;
    width: 100%;
    background: url("./kuvat/3ce86681-37c1-41e5-b3bd-9300d4bc6584.jpg");
    background-size: cover;

    z-index: 2;
}

.secondCont{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.secondBg .splash{
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-3%, -0%);

    max-height: 100%;
    max-width: 100%;

    z-index: 8;

    display: none;

    /* mix-blend-mode: color-dodge; */
    /* filter: brightness(1.2) contrast(.9); */
}

.second .text{
    width: 80vw;
    height: 60vh;

    margin: auto;

    z-index: 25;
    /* position: absolute; */



    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second .text p{
    max-width: 250px;
}

@media screen and (max-width: 1000px) {
    .secondBg .splash{
        transform: translate(-3%, -8%);
    }
}
@media screen and (max-width: 850px) {
    .secondCont .text{
        width: fit-content;
        height: 100vh;
    }

    .secondCont .text p:nth-of-type(2){
        padding: 0;
        margin: 0 !important;
        margin-top: auto !important;
        margin-bottom: 16px !important;
    }
}

/* #endregion */

/* #region mallisto */
.mallistot{
    width: 100%;
    height: 140vh;

    background-image: radial-gradient(rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 1) 60%, #000 100%);

    position: relative;

    padding-top: 10%;
}

.mallistotCont{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.mallistotCont img{
    max-height: 50vh;
    position: absolute;
    left: 50%;
    bottom: 16vw;
    transform: translateX(-50%);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.mallistoBtns{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 25%;
}

.mallistoBtnsCont{
    display: flex;
    gap: 20px;

}

.mallistoBtns .mallistoBtn{
    width: 30px;
    height: 30px;
    background-color: #000;
    border: 2px solid #858585;
    border-radius: 50px;

    transition: all 0.4s ease;
    cursor: pointer;
}

.mallistoBtns .selected {
    width: 60px;
}

.mallistot h1{
    font-size: 96px;
    text-align: center;
    position: absolute;
    top: 10%;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .mallistotCont img {
        bottom: 20vw;
    }
}


@media screen and (max-width: 800px) {
    .mallistot h1 {
        font-size: 64px;
    }
    .mallistotCont img {
        bottom: 24vw;
    }
}

@media screen and (max-width: 500px) {
    .mallistot h1 {
        font-size: 48px;
    }

    .mallistotCont img {
        bottom: 34vw;
    }
}

@media screen and (max-width: 400px) {
    .mallistot h1 {
        font-size: 42px;
    }
    .mallistotCont img {
        bottom: 38vw;
    }
}


/* #endregion */

/* #region karjalainen */
.karjalainen{
    background-color: #000;
    width: 100%;
    padding: 0% 10% 10% 10%;
    padding-bottom: 20vh;

    position: relative;
}

.karjalainen h1{
    font-size: 64px;
    padding-bottom: 32px;
}

.karjalainenCont{
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: space-between;
}

.karjalainenCont .img{
    width: 60%;
    position: relative;
}

.karjalainenCont img{
    width: 100%;
    border-radius: 20px;
    z-index: 10;
}

.karjalainenCont .text{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 32px   ;
}

.karjalainen .splash{
    position: absolute;
    top: -10%;
    right: 0%;

    width: 70%;

    z-index: 2;

    display: none;
}

@media screen and (max-width: 1100px) {
    .karjalainenCont{
        flex-direction: column;
        height: 100%;
    }

    .karjalainen .splash{
        display: none;
    }

    .karjalainenCont .img{
        width: 100%;
        max-height: 50%;
    }
    .karjalainenCont .text{
        margin-top: 16px;
        width: 100%;
    }
}

/* #endregion */

/* #region some and footer */
.some{
    width: 100%;
    height: 200vh;

    position: relative;
    
}

.someCont{
    height: 100vh;
    width: 100%;
    position: relative;
}

.someCont h1{
    position: absolute;
    top: 10%;
    z-index: 10;
    font-size: 96px;
    text-align: center;
    width: 100%;
}

.someBg .screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%, #000 100%);

    z-index: 3;
    top: 0;
}

.someBg .bgImg{
    width: 100%;
    height: 100%;
    background: url("./kuvat/3ce86681-37c1-41e5-b3bd-9300d4bc6584.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 2;
}   

.someIcons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 19;

    display: flex;
    gap: 64px;
}

.someIcons i{
    color: transparent;

    background: url("./kuvat/graffiti-bg-filtered.png");
    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: 96px;
    cursor: pointer;
        filter: brightness(1.2) contrast(1.2);    
    text-shadow: 0px 0px 20px rgba(255, 208, 54, 0.8);
}

@media screen and (max-width: 1100px) {
    .someCont h1, .someIcons i{
        font-size: 74px;
    }
}
@media screen and (max-width: 700px) {
    .someCont h1, .someIcons i{
        font-size: 64px;
    }
}
@media screen and (max-width: 550px) {
    .someCont h1{
        font-size: 48px;
    }

    .someIcons{flex-direction: column;}
}
@media screen and (max-width: 400px) {
    .someCont h1{
        font-size: 32px;
    }
}



.footer{
    height: 100vh;
    width: 100%;
    background-color: #000;

    position: sticky;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}

.footerCont{
    display: flex;
    width: 100%;
    padding: 0 40px;
}

.footerCont .socials{
    width: 100%;
    display: flex;
    gap: 12px;
}

.footerCont .socials i{
    color: #fff;
    font-size: 32px;
}

.footerCont .left h1{
    font-size: 150px;
}

.footerCont .right{
    display: flex;
    margin-left: auto;
}

.footerCont .right .section{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.footerCont .right .section ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#footerBtn{
    width: 100%;
    line-break: none;

    text-decoration: none;
}

.footer button{
    display: block;
    width: 100%;
}


.footerImages{
    /* position: ; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
    margin: auto;
    height: 50vh;
    top: 0;
    margin-bottom: 15vh;
}

.footerImages img{
    max-width: 18%;
}

.footerImages img:nth-of-type(2){
    transform: translate(0, 25%);
}
.footerImages img:nth-of-type(4){
    transform: translate(0, 25%);
}


@media screen and (max-width: 1200px) {
    .footerCont .right .section{
        width: 180px;
    }
}

@media screen and (max-width: 1200px) {
    .footerCont{
        flex-direction: column;
    }

    .footerImages{
        margin-bottom: 0;
    }

    .right{
        width: 100%;
        margin-bottom: 12px;
    }
    .footerCont .right .section{
        width: 100%;
    }

    .footerCont .right .section ul{
        gap: 8px;
    }
}

@media screen and (max-width: 600px) {
    .footerCont .right .section:nth-of-type(3){
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .footerCont h1{
        font-size: 64px !important;
        margin-bottom: 16px;
    }

    .footerCont{
        padding: 0 16px;
    }
}

/* #endregion */


